@function getType($prefix, $name) {
  @if ($prefix == '--sch-cl') {
    $map: nth(
      map-get(map-get($schemas, 'default'), str-slice($name, 2, -1)),
      1
    );
    @return (hue: nth($map, 1), variations: nth($map, 2));
  }
  @if ($prefix == '--cl-util') {
    @return true;
  }
  @return false;
}
@function get-color($prefix, $name, $color) {
  $type: getType($prefix, $name);
  @debug $type, $prefix, str-slice($name, 2, -1), $color;

  $running: true;
  @if (str-index($name, 'sch')) {
  } @else if(str-index($name, 'cl-util')) {
  } @else if(str-index($name, 'cl-text')) {
  } @else {
  }
  @while $running {
    $running: false;
  }

  // @if ($variation == 'primary') {
  //   $color: unquote($color);
  //   $isAuto: map-get($map, $color) == 'auto';
  //   @debug $map, map-get($map, $color);
  // } @else if ($variation == 'util') {
  //   $isAuto: map-get($map, $variation) == 'auto';
  //   @debug $isAuto, $variation;
  // }
  @return $name;
}
