@function verify-family($family, $fonts) {
  @if (map-has-key($fonts, $family)) {
    @return map-get($fonts, $family);
  }
  @error 'A familia "#{$family}" não existe!';
}

@function verify-variation($font-family, $family) {
  @if (map-has-key($font-family, 'variations')) {
    @return map-get($font-family, 'variations');
  }
  @error 'Variações da familia "#{$family}" não foram configuradas!';
}

@function verify-style($variations, $style, $family) {
  @if (map-has-key($variations, $style)) {
    @return map-get($variations, $style);
  }
  @error 'Não existe esse estilo para a familia "#{$family}"!';
}

@function verify-weight($font-family, $list-weights, $weight, $family) {
  @each $val, $c in $list-weights {
    @if ($val == $weight) {
      @return $font-family;
    }
  }
  @error 'Não existe esse peso para a familia "#{$family}"!';
}

@function get-font($family: text, $style: normal, $weight: 400) {
  $font-family: verify-family($family, $fonts);
  $variations: verify-variation($font-family, $family);
  $list-weights: verify-style($variations, $style, $family);

  @return verify-weight($font-family, $list-weights, $weight, $family);
}
