@mixin colorsBg($root: false, $color: $default-base-color) {
  @if ($color != $default-base-color or $root != false) {
    --scope-bg-color: #{nth($color, 2)};
    --scope-text-color: #{set-text-color($color: nth($color, 1))};
  }

  color: var(--scope-text-color);
  background-color: var(--scope-bg-color);
}

@mixin colorText($color) {
  --scope-bg-color: var(--color-white-90);
  --scope-text-color: #{set-text-color($shade: $shade)};

  color: var(--scope-text-color);
  background-color: var(--scope-bg-color);
}
