@mixin font(
  $family: 'as',
  $style: normal,
  $size: 0,
  $line-height: 0,
  $weight: 400
) {
  font-size: var(--ms-#{$size});
  line-height: var(--vr-#{$line-height});

  $font-family: get-font($family, $style, $weight);
  font-family: $family;
  font-style: $style;
  font-weight: $weight;
}
