@mixin font(
  $family: 'default',
  $size: 0,
  $line-height: 0,
  $weight: 400,
  $style: normal
) {
  font-size: var(--ms-#{$size});
  line-height: var(--vr-#{$line-height});

  $font: get-font($family, $style, $weight);

  $font-family: map-get($font, 'family');
  $safe: map-get($font, 'safe');
  $type: map-get($font, 'type');

  font-family: #{$font-family, $safe, $type};
  font-style: $style;
  font-weight: $weight;
}
