@mixin root() {
  :root {
    @for $i from $modular-scale-init to $modular-scale-size {
      @include ms-respond('--ms-#{$i}', $i);
    }

    @for $i from $vertical-rhythm-init to $vertical-rhythm-size {
      --vr-#{$i}: #{($i + 1) * $vertical-rhythm-base}rem;
    }

    font-size: var(--ms-0);

    --color-dark-black: #{rgba($color-dark, 0.9)};
    --color-dark-gray: #{rgba($color-dark, 0.7)};
    --color-light: #{rgba($color-light, 0.9)};

    @include colorsBg($root: true);

    body {
      @include colorsBg($inherit: true);
    }
  }
}
