@mixin vars-color-text() {
  @each $name, $content in $default-text-colors {
    @each $hex, $map-values in $content {
      $op: map-get($map-values, 'op');

      $var-name: gen-var-color-name($name, 'text');
      #{$var-name}: #{rgba($hex, $default-text-op)};
      @if ($op != null) {
        @each $name-op, $value-op in $op {
          $var-name: gen-var-color-name($name, 'text', $name-op);
          #{$var-name}: #{rgba($hex, $value-op)};
        }
      }
    }
  }
}
@mixin vars-color-util() {
  @each $name, $hex in $utils {
    #{gen-var-color-name($name, 'util')}: #{$hex};
  }
}

@mixin vars-color() {
  @include vars-color-text;
}

@mixin vars-modular-scale() {
  @for $i from $modular-scale-init to $modular-scale-size {
    @include ms-respond('--ms-#{$i}', $i);
  }
}

@mixin vars-vertical-rhythm() {
  @for $i from $vertical-rhythm-init to $vertical-rhythm-size {
    --vr-#{$i}: #{($i + 1) * $vertical-rhythm-base}rem;
  }
}
