$default-text-op: 0.95;

$default-text-colors: (
  dark: (
    #000: (
      op: (
        70: 0.7,
      ),
    ),
  ),
  light: (
    #fff: (
      op: (
        70: 0.7,
      ),
    ),
  ),
);

$colors-auto-variations: (
  default: 'day',
  day: (
    primary: (
      ah: 0deg,
      s: 100%,
      l: 30%,
    ),
    dark: (
      ah: 0deg,
      s: 100%,
      l: 20%,
    ),
    light: (
      ah: 0deg,
      s: 100%,
      l: 69%,
    ),
    white: (
      ah: -60deg,
      s: 45%,
      l: 98%,
    ),
    gray: (
      ah: -30deg,
      s: 43%,
      l: 93%,
    ),
    black: (
      ah: 0deg,
      s: 100%,
      l: 6%,
    ),
    util: (
      hue: (
        confirm: 133,
        warn: (
          hue: 51,
          al: 8%,
        ),
        error: 345,
      ),
      s: 100%,
      l: 36%,
    ),
  ),
  night: (
    primary: (
      ah: 0deg,
      s: 100%,
      l: 30%,
    ),
    dark: (
      ah: 0deg,
      s: 100%,
      l: 20%,
    ),
    light: (
      ah: 0deg,
      s: 100%,
      l: 69%,
    ),
    white: (
      ah: -60deg,
      s: 45%,
      l: 98%,
    ),
    gray: (
      ah: -30deg,
      s: 43%,
      l: 93%,
    ),
    black: (
      ah: 0deg,
      s: 100%,
      l: 6%,
    ),
    util: (
      hue: (
        confirm: 133,
        warn: (
          hue: 51,
          al: 8%,
        ),
        error: (
          hue: 345,
          al: -3.2%,
        ),
      ),
      s: 100%,
      l: 36%,
    ),
  ),
);

$schemas: (
  ufrj: (
    primary: (
      40: (
        dark: auto,
        light: auto,
        white: auto,
        gray: auto,
        black: auto,
        util: auto,
      ),
    ),
  ),
);

$hight-contrast: (
  bg: #000,
  link: #0ff,
  text: #fff,
  border: #fff,
  nav: #f0f,
  confirm: #0f0,
  error: #f00,
  warn: #ff0,
);
