<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>mnvColors</title>
    <meta name="mnv:schema" content="ufrj" />
    <meta name="mnv:schema:mode" content="true" />
    <script src="/_public/mnvBase.js" type="module" defer></script>
    <script type="module">
      import '/_public/mnvColors.js'
    </script>
  </head>

  <body>
    <mnv-colors></mnv-colors>
  </body>
</html>
