@import '../../tools/main';

:host {
  @include font($family: 'display', $weight: 700, $style: 'normal');
  .color {
    &.colors {
      flex-direction: column;
      align-items: normal !important;
    }
    &.primary {
      @include colorBg('primary');
    }
    &.primary-dark {
      @include colorBg('primary-dark');
    }
    &.primary-light {
      @include colorBg('primary-light');
    }
    &.primary-white {
      @include colorBg('primary-white');
    }
    &.primary-gray {
      @include colorBg('primary-gray');
    }
    &.primary-black {
      @include colorBg('primary-black');
    }
    &.util-confirm {
      @include colorBg('util-confirm');
    }
    &.util-warning {
      @include colorBg('util-warn');
    }
    &.util-error {
      @include colorBg('util-error');
    }
    &.dark {
      background-color: var(--cl-dark);
    }
    &.dark-70 {
      background-color: var(--cl-dark-70);
    }
    &.light {
      background-color: var(--cl-light);
    }
  }

  .colors {
    display: flex;
    flex-wrap: wrap;
    > .color {
      height: 25vh;
      min-width: 100px;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: calc(33% - 0.5rem);
    }
  }
}
