@import '../../tools/main';

:host {
  @include font();
  .color {
    &.colors {
      flex-direction: column;
      align-items: normal !important;
    }
    &.primary {
      background-color: var(--sch-cl-primary);
    }
    &.primary-dark {
      background-color: var(--sch-cl-primary-dark);
    }
    &.primary-light {
      background-color: var(--sch-cl-primary-light);
    }
    &.util-confirm {
      background-color: var(--sch-cl-util-confirm);
    }
    &.util-warning {
      background-color: var(--sch-cl-util-warn);
    }
    &.util-error {
      background-color: var(--sch-cl-util-error);
    }
    &.dark {
      background-color: var(--cl-dark);
    }
    &.dark-80 {
      background-color: var(--cl-dark-80);
    }
    &.dark-70 {
      background-color: var(--cl-dark-70);
    }
    &.light {
      background-color: var(--cl-light);
    }
    &.light-90 {
      background-color: var(--cl-light-90);
    }
  }

  .colors {
    display: flex;
    flex-wrap: wrap;
    > .color {
      height: 33.33vh;
      min-width: 100px;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: calc(33% - 0.5rem);
    }
  }
}
