@import '../../tools/main';

:host {
  @include font($family: 'display', $weight: 700, $style: 'normal');
  .color {
    &.colors {
      flex-direction: column;
      align-items: normal !important;
    }
    &.primary {
      @include colorBg('primary', $hc: text);
    }
    &.primary-dark {
      @include colorBg('primary', $color: 'dark', $hc: text);
    }
    &.primary-light {
      @include colorBg('primary', $color: 'light', $hc: text);
    }
    &.primary-white {
      @include colorBg('primary', $color: 'white', $hc: text);
    }
    &.primary-gray {
      @include colorBg('primary', $color: 'gray', $hc: text);
    }
    &.primary-black {
      @include colorBg('primary', $color: 'black', $hc: text);
    }
    &.util-confirm {
      @include colorBg('util', $color: 'confirm', $hc: text);
    }
    &.util-warning {
      @include colorBg('util', $color: 'warn', $hc: text);
    }
    &.util-error {
      @include colorBg('util', $color: 'error', $hc: text);
    }
    &.dark {
      @include colorBg('text', $color: 'dark', $silent: true, $hc: text);
    }
    &.dark-70 {
      @include colorBg('text', $color: 'dark-70', $silent: true, $hc: text);
    }
    &.light {
      @include colorBg('text', $color: 'light', $silent: true, $hc: text);
    }
    &.light-70 {
      @include colorBg('text', $color: 'light-70', $silent: true, $hc: text);
    }
  }

  .colors {
    display: flex;
    flex-wrap: wrap;
    > .color {
      height: 25vh;
      min-width: 100px;
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: calc(33% - 0.5rem);
    }
  }
}
