$base-op: 0.97;

$colors: (
  dark: (
    #000: (
      op: (
        70: 0.7,
      ),
    ),
  ),
  light: (
    #fff: (),
  ),
);

$light: rgba(nth(map-keys(map-get($colors, 'light')), 1), $base-op);

$dark: rgba(nth(map-keys(map-get($colors, 'dark')), 1), $base-op);

$colors-auto-variations: (
  dark: (),
  light: (),
  white: (),
  gray: (),
  black: (),
);

$schemas: (
  ufrj: (
    primary: (
      220: (
        dark: auto,
        light: auto,
        white: auto,
        gray: auto,
        black: auto,
      ),
    ),
  ),
);

$utils: (
  confirm: (
    #00b627: (),
  ),
  warn: (
    #e0be00: (),
  ),
  error: (
    #990026: (),
  ),
);

$hight-contrast: (
  bg: #000,
  link: #0ff,
  text: #fff,
  border: #fff,
  nav: #f0f,
  confirm: #0f0,
  error: #f00,
  warn: #ff0,
);
