$base-op: 0.97;

$colors: (
  dark: (
    #000: (
      op: (
        70: 0.7,
        80: 0.8,
      ),
    ),
  ),
  light: (
    #fff: (
      op: (
        90: 0.9,
      ),
    ),
  ),
);

$light: rgba(nth(map-keys(map-get($colors, 'light')), 1), $base-op);

$dark: rgba(nth(map-keys(map-get($colors, 'dark')), 1), $base-op);

$schemas: (
  ufrj: (
    primary: (
      #003399: (),
    ),
    util-confirm: (
      #00b627: (),
    ),
    util-warn: (
      #e0be00: (),
    ),
    util-error: (
      #990026: (),
    ),
  ),
  hc: (
    variations: false,
    background: #000,
    link: #0ff,
    text: #fff,
    border: #fff,
    nav: #f0f,
    confirm: #0f0,
    error: #f00,
    warn: #ff0,
  ),
);
