$colors: (
  dark: (
    #000: (
      op: (
        70: 0.7,
        90: 0.9,
      ),
    ),
  ),
  light: (
    #fff: (
      op: (
        90: 0.9,
      ),
    ),
  ),
);

$schemas: (
  ufrj: #00f,
);
