$path-fonts: $root-path + 'fonts/';
$fonts: (
  as: (
    type: sans-serif,
    family: 'Alegreya Sans',
    variations: (
      normal: (
        400: (
          local: (
            'Alegreya Sans Regular',
            'AlegreyaSans-Regular',
          ),
          url: (
            path: $path-fonts + 'alegreya-sans-v9-latin-regular',
            types: (
              'woff2',
              'woff',
            ),
          ),
        ),
        500: (
          local: (
            'Alegreya Sans Medium',
            'AlegreyaSans-Medium',
          ),
          url: (
            path: $path-fonts + 'alegreya-sans-v9-latin-500',
            types: (
              'woff2',
              'woff',
            ),
          ),
        ),
        700: (
          local: (
            'Alegreya Sans Bold',
            'AlegreyaSans-Bold',
          ),
          url: (
            path: $path-fonts + 'alegreya-sans-v9-latin-700',
            types: (
              'woff2',
              'woff',
            ),
          ),
        ),
      ),
    ),
  ),
  assc: (
    type: sans-serif,
    family: 'Alegreya Sans SC',
    variations: (
      normal: (
        500: (
          local: (
            'Alegreya Sans SC Medium',
            'AlegreyaSansSC-Medium',
          ),
          url: (
            path: $path-fonts + 'alegreya-sans-sc-v8-latin-500',
            types: (
              'woff2',
              'woff',
            ),
          ),
        ),
      ),
    ),
  ),
  pd: (
    type: serif,
    family: 'Playfair Display',
    variations: (
      normal: (
        700: (
          local: (
            'Playfair Display Bold',
            'PlayfairDisplay-Bold',
          ),
          url: (
            path: $path-fonts + 'playfair-display-v13-latin-700',
            types: (
              'woff2',
              'woff',
            ),
          ),
        ),
      ),
      italic: (
        400: (
          local: (
            'Playfair Display Italic',
            'PlayfairDisplay-Italic',
          ),
          url: (
            path: $path-fonts + 'playfair-display-v13-latin-italic',
            types: (
              'woff2',
              'woff',
            ),
          ),
        ),
      ),
    ),
  ),
  fc: (
    type: monospace,
    family: 'Fira Code',
    variations: (
      normal: (
        400: (
          local: (
            'Fira Code',
          ),
          url: (
            path: $path-fonts + 'fira-code-v1-regular',
            types: (
              'woff2',
              'woff',
            ),
          ),
        ),
      ),
    ),
  ),
  pts: (
    type: serif,
    safe: (
      Georgia,
    ),
    family: 'PT Serif',
    variations: (
      normal: (
        400: (
          local: (
            'PT Serif',
            'PTSerif-Regular',
          ),
          url: (
            path: $path-fonts + 'pt-serif-v9-latin-regular',
            types: (
              'woff2',
              'woff',
            ),
          ),
        ),
        700: (
          local: (
            'PT Serif Bold',
            'PTSerif-Bold',
          ),
          url: (
            path: $path-fonts + 'pt-serif-v9-latin-700',
            types: (
              'woff2',
              'woff',
            ),
          ),
        ),
      ),
      italic: (
        400: (
          local: (
            'PT Serif Italic',
            'PTSerif-Italic',
          ),
          url: (
            path: $path-fonts + 'pt-serif-v9-latin-italic',
            types: (
              'woff2',
              'woff',
            ),
          ),
        ),
        700: (
          local: (
            'PT Serif Bold Italic',
            'PTSerif-BoldItalic',
          ),
          url: (
            path: $path-fonts + 'pt-serif-v9-latin-700italic',
            types: (
              'woff2',
              'woff',
            ),
          ),
        ),
      ),
    ),
  ),
);
