@import './../../../node_modules/modularscale-sass/stylesheets/modularscale';

$modularscale: (
  base: 1rem,
  ratio: $fourth,
  25rem: (
    base: 0.875rem,
  ),
  50rem: (
    base: 1.125rem,
  ),
);
