$color-dark: #000;
$color-light: #fff;

$default-base-color: ($color-light, var(--color-light));

$modular-scale-init: -1;
$modular-scale-size: 5;

$vertical-rhythm-init: 0;
$vertical-rhythm-base: 1.5;
$vertical-rhythm-size: 5;
