// $default-base-color: ($color-light, var(--color-white-100));

$remote: 'https://mnv.olimpo.tic.ufrj.br';

// $root-path: $remote + '/';
$root-path: '/';

$modular-scale-init: -1;
$modular-scale-size: 5;

$vertical-rhythm-init: 0;
$vertical-rhythm-base: 1.5;
$vertical-rhythm-size: 5;
